lang: "en"
usePrefix: true
security:
  minSize: 0
  antiCapslock:
    enable: true
    percent: 70 #If total of caps are 70% or more, the message will be blocked
  antiSpam: 
    enable: true
    max: 3 #Allow to send X times the same message
  antiAds: true 
  badWords: 
    - "fuck"
  save:
    enable: false
    interval: 60 #seconds between each save, must not be too low or too high
notification:
  mention: 
    enable: true
    symbolToUse: "" #When you write a player name, this must be before the player to activate the mention
    symbolToSee: "@" #It will replace symbolToUse with this icon to set something like : @Kakumi
    color: "&e"
    sound: true
  privateMessage:
    sound: true
grammar: 
  capitaliseFirstLetter: true
  forceDotAtTheEnd: true
chat: 
  format: "{channel} {color}{player}ยง7: {chat_color}{message}"
  defaultChannel: "global" #ID of a channel from chat.channels
  channels:
    global:
      default: true
      enable: true
      listed: true
      setAutoWorld: "" #Automatically use this channel if player has the permission to use in this world
      prefix: ""
      command: "global"
      color: "&f"
      insideRestriction: false
      world: ""
      range: 0
      permissionToUse: ""
      permissionToSee: ""
      cooldown: 0
    proximity:
      default: false
      enable: true
      listed: true
      setWorld: ""
      prefix: "&7[&8Proximity&7]"
      command: "prox"
      color: "&f"
      cooldown: 5
      insideRestriction: false
      world: ""
      range: 50
      permissionToUse: ""
      permissionToSee: ""
      format: "&6{player}&7: {chat_color}{message}"

#https://www.spigotmc.org/resources/%E2%9C%8F%EF%B8%8F-iridescent-%E2%9C%8F%EF%B8%8F-1-16-x-add-new-hex-colors-to-your-server-supports-gradients.81322/
#https://www.spigotmc.org/resources/chatty-lightweight-universal-bukkit-chat-system-solution-1-5-2-1-17.59411/